.container
  h1.text-center CPU Information
  //- p {{$ctrl.chartData}}
  div.col-xs-4
    table.table.table-striped
      h4 Tasks for Job {{$ctrl.jobData.job.app_id}}:
      tr(ng-repeat="task in $ctrl.tasks")
        td
          label
            input(type="checkbox" ng-model="task.visible" ng-click="$ctrl.taskClick(task.id, task.visible)")
            |    Task ID: {{task.task_id}}
    hr
    p Testing!
    ul#jobList.nav.nav-pills.nav-stacked
      li(role="presentation" ng-class="{selected: isClicked}" ng-repeat="task in $ctrl.jobData.tasks")
        a(href="#" ng-class="selectedIndex" ng-click="$ctrl.clicked") Task ID: {{task.task_id}}
        
    // 
      
  div.col-xs-8
    canvas#line.chart.chart-line(chart-data='$ctrl.chartData', chart-labels='$ctrl.labels', chart-options="$ctrl.chartOptions" chart-legend='false', chart-series='$ctrl.series', chart-click='onClick')
